
body{
	color:#ecf0f1 !important;
}
#bar {
	background-color: #1b7a42;
	background-image:url('../img/latanteheader.png') !important;
	background-repeat: no-repeat !important;
	background-size: 100% !important;
	height: 120px !important;
	text-align: center;
	border: 1px solid #27ae60;

}
#bar h2 {
	color: #ecf0f1; /*font color*/
	font-size: 35px;
	margin-top: 35px !important;
}
.ui-content{
	margin-top: 1.5em;
}
#btn {
	background-color: #2ecc71;
	color: #fff;
	font-size: 1em;
}


.ui-listview li input{
	margin: 0px;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
	-khtml-border-radius: none !important;
	border-radius: none !important;
}

#ord .ui-btn {
	background-color: #2ecc71;
	color: #fff;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
	-khtml-border-radius: none !important;
	border-radius: none !important;
}

.ui-listview li input{
	-webkit-border-radius: none !important;
}

.ui-navbar ul li a{
	height: 30px;
	text-transform: uppercase;
	font-size: 20px !important;
	padding-top: 20px;
	background-color: #2ecc71 !important;
}
a.ui-link.ui-btn {
	color: #fff;
}
.ui-input-text{
	
	-webkit-border: 1px solid red;
}

#formOrder .ui-btn {
	background-color: #2ecc71;
	color: #fff;
	/*font-size: 1.5em;*/
	-webkit-border-radius: 0px !important;
}
.ui-corner-all {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-khtml-border-radius: 0px !important;
	border-radius: 0px !important;
}

.ui-shadow .ui-shadow-inset{
	-webkit-box-shadow: 0px 0px 0px 0px !important;
}


.ui-select .ui-btn {
	background-color: #2ecc71 !important;
	
	
}
.ui-select .ui-btn .ui-focus {
	background-color: red !important;
}
.ui-select {
	border: 1px solid #ecf0f1 !important;
	margin-top: 2em;	
	height: 50%;
}
.ui-select  {
	color: #ecf0f1 !important;
}

div#select-custom-3-button {
	color: #ecf0f1 !important;
	padding: 0.5em !important;
	font-size: 2em !important;
}
#message, .ajax_success
 {
	color: #ecf0f1 !important;
}

.ui-body {
	background-color: #2ecc71 !important;
	border: 1px solid #2ecc71 !important;
	margin-bottom: 300px !important;
	margin-top: 100px;

}

.ui-content {
	background-color: #fff !important;
	border: 1px solid #2ecc71 !important;
	margin-top: -5px !important;
}
#send {
	margin-left: 40% !important;
	
}

div.ui-navbar{
	background-color: #2ecc71 !important;
	/*border-top: 1px solid #2ecc71 !important;*/
}
a.ui-link.ui-btn{
	color: #ecf0f1 !important; /*font color*/
	border: 1px solid #2ecc71 !important;

}

a.ui-link.ui-btn.ui-btn-active {
	background-color: #1b7a42 !important;
}

.ui-collapsible {
	border: 1px solid #2ecc71 !important;
	color: #2ecc71;
}
a.ui-btn,label.ui-btn,a.ui-icon-plus {
	color: #2ecc71 !important;
}
div.ui-input-text,div.ui-checkbox {
	border: 1px solid #2ecc71 !important;

}
input.ui-btn {
	color: #2ecc71 !important;
}

#main {
	background-color: #2ecc71 !important;
	height: 800px;
}

button.log.ui-btn {
	background-color: #2ecc71 !important;
	margin-top: 60px;
	color: #ecf0f1 !important;
	font-size: 18px;
	width: 100px;
	border: 1px solid #2ecc71 !important;
}
#waiter {
	color: #ecf0f1 !important;
	text-transform: uppercase;
	float: right;
}
.table_order {
	margin-top: -10px !important;
	color: #ecf0f1 !important;
}
.po {
	margin-top: -5px !important;
}
.table_order tbody tr td {
	width: 20px !important;
}
#ht{
	margin-top: 5px;
}